# Build artifacts
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Visual Studio Code files
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Dependencies
packages/
*.nupkg
*.snupkg

# Rider files
.idea/
*.iml

# Coverage Reports
coverage/
*.coverage
*.coveragexml
*.testhost.*

# Temporary files
*.tmp
*.temp
*.lock
~$*

# Resharper files
*.DotSettings.user

# Local environment settings
.env

